<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="mainbox">
      <div class="Heading_container">
        <p>Our Team</p>
      </div>

      <div class="bigcontainer">
        <div class="container">
          <header class="header">
            <div class="profile-pic">
              <img
                src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/beanbhai.png?v=1710578604544"
              />
            </div>
          </header>
          <h1 style="color: #cb67cb">Shivam Aryan</h1>
          <div class="flexbox">
            <!--                 <span class="stats">1500<br>FOLLOWERS</span><span class="stats">20<br>FOLLOWING</span><span class="stats">150<br>POSTS</span><span class="stats">0<br>WORKS</span> -->
            <span>Backend Developer</span>
          </div>
          <div class="social-icons">
            <a href="https://github.com/Aryan10" class="fa fa-github"></a>
            <a href="https://github.com/Aryan10" class="fa fa-instagram"></a>
            <a href="https://github.com/Aryan10" class="fa fa-linkedin"></a>
          </div>
          <div class="buttons">
            <a href="https://github.com/Aryan10" class="button" id="message">Message</a>
            <a href="https://github.com/Aryan10" class="button" id="follow">Follow</a>
          </div>
        </div>
        <div class="container">
          <header class="header">
            <div class="profile-pic">
              <img
                src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/3df0046b-29ab-4b45-af4d-8054ed88d7d1.IMG20240123132843.jpg?v=1710578046287"
              />
            </div>
          </header>
          <h1 style="color: #cb67cb">Rajveer Yadav</h1>
          <div class="flexbox">
            <span>Frontend Developer</span>
          </div>
          <div class="social-icons">
            <a href="#" class="fa fa-github"></a>
            <a
              href="https://www.instagram.com/rajveer_yadav_58/?hl=en"
              class="fa fa-instagram"
            ></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
          <div class="buttons">
            <a href="#" class="button" id="message2">Message</a>
            <a href="#" class="button" id="follow2">Follow</a>
          </div>
        </div>
        <div class="container">
          <header class="header">
            <div class="profile-pic">
              <img
                src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/IMG_20240316_141356.jpg?v=1710578672188"
              />
            </div>
          </header>
          <h1 style="color: #cb67cb">Priyanshu Pal</h1>
          <div class="flexbox">
            <span>Frontend Developer</span>
          </div>
          <div class="social-icons">
            <a href="#" class="fa fa-github"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
          <div class="buttons">
            <a href="#" class="button" id="message3">Message</a>
            <a href="#" class="button" id="follow3">Follow</a>
          </div>
        </div>
        <div class="container">
          <header class="header">
            <div class="profile-pic">
              <img
                src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/IMG-20240316-WA0003.jpg?v=1710578410898"
              />
            </div>
          </header>
          <h1 style="color: #cb67cb">Lakshay Rathee</h1>
          <div class="flexbox">
            <span>Web designer</span>
          </div>
          <div class="social-icons">
            <a href="#" class="fa fa-github"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </div>
          <div class="buttons">
            <a href="#" class="button" id="message4">Message</a>
            <a href="#" class="button" id="follow4">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
