<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Explorers</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <header >
        <h1>File-Share</h1>
        <div id="headlist">
            <div>
                <i><input type="search" id="searchsite" placeholder=" Search Files"></i> 
                <button>Search</button>
            </div>
        </div>
        <nav>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">About</a></li>
        </nav>
    </header>
   
    <main>
    <div id="leftsect">
        <form action="#">
            <input type="image" src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/f22c5dd0-7639-4dba-880e-57dbd954d153.Upload%20file.png?v=1710243331877" alt="Submit" height="80px" width="90px">
            <p>Add files</p>
        </form>      
        <ul id="panel">
            <div id="panellist">
            <li><a href="#">File 1</a></li>
            <li><a href="#">File 2</a></li>
            <li><a href="#Halwabox">File 3</a></li>
            <li><a href="#">file4</a></li>
            <li><a href="#">File 5</a></li>
            <li><a href="#">File 6</a></li></div>
        </ul>
    </div>
    <div id="rightsect">
    
   <section id="Dragbox">        
      <div id="leftbox1">
           <h1>Drag & Drop Menu</h1>
           <h3>Uploaded files</h3>
           <div class="box1">
           <ul>
               <li>1</li>
               <li>2</li>
               <li>3</li>
               <li>4</li>
               <li>5</li>
               <li>6</li>
               <li>...</li>
           </ul>
           <h3>H3</h3>
           <ol>
               <li>Lorem ipsum dolor sit amet. violhar liris sghsjukliwvbskjb</li>
               <li>Molestias unde nam facilis accusamus!</li>
               <li>Possimus sequi fugit minima error.wingariium leviosar</li>
               <li>Lorem ipsum dolor sit amet consectetur,</li>
               <li>Molestias unde nam facilis accusamus!</li>
               <li>Possimus sequi fugit minima error.wingariium leviosar</li>
               <li>Lorem ipsum dolor sit amet consectetur,</li>
               <li>Lorem ipsum dolor sit amet consectetur,</li>
               <li>Molestias unde nam facilis accusamus!</li>
               <li>Possimus sequi fugit minima error.wingariium leviosar</li>
           </ol>
           </div>
       </div>
       <div id="rightbox1"> 
            <img src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/icons8-drag-and-drop-100.png?v=1710243246262" alt="img">
       </div>
       
   </section></div>
 
    </main>
    <footer>
        <p>copyright &copy; Cloud Explorers Pvt Ltd 2024 All rights reserved </p>
    </footer>
    </div>
</body>
</html>
