<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloud Explorers</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <script src="/_scripts.js"></script>
  <script src="/_index.js"></script>
  <body>
    <div class="container">
      <header>
        <h1 id="title">CloudX</h1>
        <div id="headlist">
          <i><input type="search" id="searchsite" placeholder=" Search Files" /></i>
          <button type="submit">
            <img
              src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/9e358815-637d-40c7-abe8-c423b5839b80.magnifying-glass.png?v=1710314572929"
              alt="[SEARCH]"
            />
          </button>
        </div>
        <nav>
          <h1 id="username"></h1>
          <div class="dropdown">
            <button>
              <img
                src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/87557f7e-d70c-4956-8f80-65f3cc875974.menu%20(1).png?v=1710447180406"
                alt="[MENU]"
              />
            </button>
            <div class="content">
              <li><a href="#">Downloads&nbsp;</a></li>
<!--               <li><a href="#">Bin</a></li> -->
              <li><a href="about">About us</a></li>
              <li><a href="#">Sign out</a></li>
            </div>
          </div>
        </nav>
      </header>

      <main>
        <div id="leftsect">
          <form action="">
            <input type="file" id="fileInput" class="file-input" />
            <label for="fileInput" class="file-label">+</label>
            <p>Add files</p>
          </form>
          <ul id="panel">
            <div id="panellist">
              <li><a href="#">???</a></li>
              <li><a href="#">???</a></li>
              <li><a href="#">???</a></li>
              <li><a href="#">???</a></li>
              <li><a href="#">???</a></li>
              <li><a href="#">???</a></li>
            </div>
          </ul>
        </div>
        <div id="rightsect">
          <section id="Dragbox">
            <div id="myfiles"><h1>My Files</h1></div>
<!--             <section id="files"> -->
              <h3>Drop files here</h3>
              <img
                src="https://cdn.glitch.global/399552f1-5927-474a-9797-d1b426efb4ab/3cce8075-3563-4a31-81c8-5898eaa8700f.drag-and-drop.png?v=1710334963513"
                alt="img"
              />
<!--             </section> -->
          </section>
        </div>
      </main>
      <footer>
        <p>&copy; Cloud Explorers Pvt Ltd 2024 All rights reserved</p>
      </footer>
    </div>
  </body>
</html>
